*{
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.column {
  width: 30%;
  padding-bottom: 1%;
}

img{
  width: 100%;
}

.card{
  background-color: gray;
  text-align: center;
}

.ulnav {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  margin: 5px;
  background-color: grey;
  margin-left: 0;
  margin-right: 0;
}

li{
  padding: 10px;
}

a{
  text-decoration: none;
}
li:hover {
  background-color: burlywood;
  color: white;

}

button{
  width: 100%;
  background: black;
  color: aliceblue;
}

li a{
  color: white;
}

.footerr p{
  background-color: gray;
  text-align: center;
  padding: 0.4%;
}

